# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Xcode build artifacts
*.ipa
*.dSYM.zip
*.dSYM
*.app
*.xcarchive

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Editor
.vscode/
.idea/
*.swp
